<div class="cover d-flex align-items-center justify-content-center mb-3">
  <h2>My Lists</h2>
</div>

<div class="container">
  <% if @lists.empty? %>
  <h3>No lists yet...</h3>
  <% else %>
    <ul>
      <% @lists.each do |list| %>
        <li><%= link_to list.name, list_path(list) %></li>
      <% end %>
      <%# <%= link_to 'Create a movie list', new_list_path %>
    </ul>
  <% end %>
  <h1> Add new list</h1>
  <%= render 'form', list: @list %>
</div>
